<!DOCTYPE html>
<html lang="en" th:replace="layouts/main_layout :: layout(~{::title}, ~{::form})" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{loginHeader}">Title</title>
</head>
<body>

<form class="text-center border border-light p-5"
      action="#" th:action="@{/admin/editAccount}" th:object="${user}" method="post" novalidate>

    <p class="h4 mb-4" th:text="#{editUserData}">Edit data</p>

    <div class="form-row mb-4">
        <div class="col md-form">
            <!-- First name -->
            <label class="required" for="defaultRegisterFormFirstName" th:text="#{register.firstName}">First Name</label>
            <input type="text" id="defaultRegisterFormFirstName" class="form-control "
                   th:field="*{firstName}"
                   th:classappend="${not #lists.isEmpty(#fields.errors('firstName'))} ? is-invalid">
            <div class="invalid-feedback">
                <p th:each="error: ${#fields.errors('firstName')}"
                   th:text="${error}">Invalid data</p>
            </div>
        </div>
        <div class="col md-form">
            <!-- Last name -->
            <label class="required" for="defaultRegisterFormLastName" th:text="#{register.lastName}">Last Name</label>
            <input type="text" id="defaultRegisterFormLastName" class="form-control "
                   th:field="*{lastName}"
                   th:classappend="${not #lists.isEmpty(#fields.errors('lastName'))} ? is-invalid">
            <div class="invalid-feedback">
                <p th:each="error: ${#fields.errors('lastName')}"
                   th:text="${error}">Invalid data</p>
            </div>
        </div>
    </div>

    <!-- Phone number -->
    <div class="form-row md-form">
        <label for="defaultRegisterPhonePassword" th:text="#{register.phoneNumber}">Phone Number</label>
        <input type="tel" id="defaultRegisterPhonePassword" class="form-control"
               th:field="*{phoneNumber}"
               th:classappend="${not #lists.isEmpty(#fields.errors('phoneNumber'))} ? is-invalid">
        <div class="invalid-feedback">
            <p th:each="error: ${#fields.errors('phoneNumber')}"
               th:text="${error}">Invalid data</p>
        </div>
    </div>

    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Role name</th>
                <th scope="col">OFF/ON</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="role, roleStat : ${all_roles}">
                <th scope="col" th:text="${role.name}">Role name</th>
                <th scope="row">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" th:field="*{rolesSet}" th:id="${role.code}" th:value="${role.code}" checked>
                        <label class="form-check-label" th:for="${role.code}"></label>
                    </div>
                </th>
            </tr>
            <!--<tr>
                <th scope="col">CLIENT</th>
                <th scope="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" th:field="*{client}" th:value="${user.client}" checked>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="col" >ADMINISTRATOR</th>
                <th scope="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" th:field="*{administrator}" th:value="${user.administrator}" checked>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="col" >OFFICE</th>
                <th scope="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" th:field="*{office}" th:value="${user.office}" checked>
                    </div>
                </th>
            </tr>-->
        </tbody>
    </table>

    <div class="form-row md-form">
        <div class="col">
            <button th:href="@{/goback}" class="btn btn-info mt-4 mb-2 btn-block">Cancel</button>
        </div>
        <div class="col">
            <button id="saveChanges" class="btn btn-info mt-4 mb-2 btn-block" type="submit" th:text="#{save}">Edit</button>
        </div>
    </div>
</form>
<!-- Default form register -->
</body>
</html>