<!DOCTYPE html>
<html lang="en" th:replace="layouts/mechanic/mechanic_main :: layout (~{::title}, ~{::main}, ~{::ul})" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{myRepairs}">Title</title>
</head>
<body>

<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/mechanic}" th:text="#{myRepairs}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/mechanic/newOrder}" th:text="#{newOrder}">New Order</a>
    </li>
</ul>

<main>
    <div th:unless="${#lists.isEmpty(repairs)}">

        <h2 th:text="#{myRepairs}">Moje naprawy</h2>

        <table id="dtBasicExample" class="table table-striped btn-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{startDate}">Początek</th>
                <th scope="col" th:text="#{status}">Koniec</th>
                <th scope="col" th:text="#{client}">Client</th>
                <th scope="col" th:text="#{type}">Typ</th>
                <th scope="col" th:text="#{details}">Change status manually</th>
            </tr>
            </thead>
            <tbody>
            <tr th:id="${repair.id}" th:each="repair : ${repairs}" th:style="'background-color: '+${repair.currentStatus.colour}+''">
                <th scope="row" th:text="${repair.id}">#</th>
                <td th:text="${#dates.format(repair.startDateTime,'yyyy-MM-dd HH:mm')}">John</td>
                <td th:text="#{${repair.currentStatus.code}}">John</td>
                <td th:text="${repair.customer} ? ${repair.customer.firstName + ' ' + repair.customer.lastName} : ''">John</td>
                <td th:text="${#messages.msgOrNull(repair.workOrderType.code) ?: repair.workOrderType.name}">johnwick@google.com</td>
                <td>
                    <form class="text-center"
                          action="#" th:action="@{/mechanic/orderDetails}" method="post" novalidate>
                        <input type="hidden" id="orderBusinessKey" name="orderBusinessKey" th:value="${repair.businessKey}">
                        <button type="submit" class="btn btn-primary" th:text="#{details}">Details</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</main>

</body>
</html>