<!DOCTYPE html>
<html lang="en" th:replace="layouts/client/client_main :: layout (~{::title}, ~{::main}, ~{::ul})" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{adminHeader}">Title</title>
</head>
<body>

<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/client}" th:text="#{myRepairs}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Opinions</a>
    </li>
</ul>

<main>
    <div>
        <h2 >Moje naprawy</h2>

        <div th:unless="${#lists.isEmpty(repairs)}">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" >Start Date</th>
                    <th scope="col" >End Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:id="${repair.id}" th:each="repair : ${repairs}">
                    <th scope="row" th:text="${repair.id}">#</th>
                    <td th:text="${repair.startDate}">John</td>
                    <td th:text="${repair.endDate}">Wick</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>
</html>