<!DOCTYPE html>
<html lang="en" th:replace="layouts/client/client_main :: layout (~{::title}, ~{::main}, ~{::ul})" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{newOrder}">Title</title>
</head>
<body>

<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/client}" th:text="#{myRepairs}">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/client/newOrder}" th:text="#{newOrder}">New Order<span class="sr-only">(current)</span></a>
    </li>
</ul>

<main>
    <form>
        <div th:if="${#lists.isEmpty(orders)}">
            <!--Section: Content-->
            <section class="px-md-5 mx-md-5 text-center border border-light p-5 dark-grey-text">
                <div class="row d-flex justify-content-center">
                    <div>
                        <h3 class="font-weight-bold">Empty!</h3>
                        <p class="text-muted" th:text="#{emptyClientRepairs}">
                            Nie masz jeszcze żadnych wizyt
                            jeżeli potrzebujesz dokonać rezerwacji
                            kliknij w przycisk poniżej
                        </p>

                        <a class="btn btn-info btn-md ml-0 mb-5" th:href="@{/client/newOrder}" role="button" th:text="#{newOrder}">Start now<i class="fa fa-magic ml-2"></i></a>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
        </div>
        <div th:unless="${#lists.isEmpty(orders)}">

            <table id="dtMaterialDesignExample" class="table table-responsive-md btn-table" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm" scope="col">#</th>
                        <th class="th-sm" scope="col" th:text="#{startDate}">Start Date</th>
                        <th class="th-sm" scope="col" th:text="#{estimatedDuration}">Required Time</th>
                        <th class="th-sm" scope="col" th:text="#{mechanicName}">Mechanic name</th>
                        <th class="th-sm" scope="col" th:text="#{orderType}">What to do</th>
                        <th class="th-sm"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:id="${order.id}" th:each="order : ${orders}">
                        <th scope="row" th:text="${orderStat.count}">#</th>
                        <td th:text="${#dates.format(order.startDateTime, 'yyyy-MM-dd HH:mm')}">John</td>
                        <td th:text="${order.workOrderType.requiredTime} + min">John</td>
                        <td th:text="${order.employee.user.firstName}">John</td>
                        <td th:text="${#messages.msgOrNull(order.workOrderType.code) ?: order.workOrderType.name}">Wick</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm m-0"
                                    data-toggle="modal" data-target="#basicExampleModal"
                                    th:attr="data-target='#basicExampleModal'+${order.businessKey}" th:text="#{choose}">Launch modal</button>
                            <div class="modal fade" id="basicExampleModal" th:id="basicExampleModal+${order.businessKey}"
                                 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel" th:text="#{choose}">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" th:text="#{confirmOrder}">
                                            Are You sure???
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger btn-sm m-0" data-dismiss="modal" th:text="#{cancel}">Close</button>
                                            <form class="text-center"
                                                  action="#" th:action="@{/client/newOrder}" method="post" novalidate>
                                                <input type="hidden" id="orderBusinessKey" name="orderBusinessKey" th:value="${order.businessKey}">
                                                <button type="submit" class="btn btn-success btn-sm m-0" th:text="#{save}">Save changes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>


</main>

</body>
</html>