<!DOCTYPE html>
<html lang="en" th:replace="layouts/client/client_main :: layout (~{::title}, ~{::main}, ~{::ul})" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{adminHeader}">Title</title>
</head>
<body>

<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/client}" th:text="#{myRepairs}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/newOrder}" th:text="#{newOrder}">New Order<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Opinions</a>
    </li>
</ul>

<main>
    <form>
        <div th:unless="${#lists.isEmpty(orders)}">

            <table id="dt" class="table" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm" scope="col">#</th>
                        <th class="th-sm" scope="col" >Start Date</th>
                        <th class="th-sm" scope="col" >Start Time</th>
                        <th class="th-sm" scope="col" >Mechanic name</th>
                        <th class="th-sm" scope="col" >What to do</th>
                        <th class="th-sm"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:id="${order.id}" th:each="order : ${orders}">
                        <th scope="row" th:text="${order.id}">#</th>
                        <td th:text="${order.startDate}">John</td>
                        <td th:text="${order.startTime}">Wick</td>
                        <td th:text="${order.worker.user.firstName}">John</td>
                        <td th:text="${order.workOrderType.name}">Wick</td>
                        <td>

                        </td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" >Start Date</th>
                    <th scope="col" >Start Time</th>
                    <th scope="col" >Mechanic name</th>
                    <th scope="col" >What to do</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </form>

</main>

</body>
</html>