<!DOCTYPE html>
<html lang="en" th:replace="layouts/main_layout :: layout (~{::title}, ~{::main})" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{resetPasswordHeader}">Title</title>
</head>
<body>
    <main>

        <form class="text-center border border-light p-5 needs-validation"
               action="#" th:action="@{/setNewPassword}" th:object="${user}" method="post"
              oninput='pass2.setCustomValidity(pass2.value != pass1.value ? "Passwords do not match." : "")' novalidate>

        <p class="h4 mb-4" th:text="#{resetPassword.main}">Sign up</p>

        <!-- Password -->
        <div class="form-row md-form">
            <label class="required" for="defaultRegisterFormPassword" th:text="#{register.password}">Password</label>
            <input type="password" id="defaultRegisterFormPassword" class="form-control"
                   aria-describedby="defaultRegisterFormPasswordHelpBlock"
                   th:field="*{password}" name="pass1"
                   th:classappend="${not #lists.isEmpty(#fields.errors('password'))} ? is-invalid">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text col mb-4"
                   th:text="#{register.password.hint}">
                At least 8 characters and 1 digit
            </small>
            <div class="invalid-feedback">
                <p th:each="error: ${#fields.errors('password')}"
                   th:text="${error}">Invalid data</p>
            </div>
        </div>

        <div class="form-row md-form">
            <label class="required" for="confirmPassword" th:text="#{register.password}">Password</label>
            <input type="password" id="confirmPassword" class="form-control"
                   name="pass2"
                   aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <small id="confirmPasswordBottomText" class="form-text col mb-4"
                   th:text="#{register.password.hint}">
                Confirm Password
            </small>
        </div>

        <!-- Sign up button -->
        <button id="signUpBtn" class="btn btn-info mt-4 mb-2 btn-block" type="submit" th:text="#{register.signIn}">Sign in</button>
    </form>
    </main>
</body>
</html>