<!DOCTYPE html>
<html lang="en" th:replace="layouts/main_layout :: layout(~{::title}, ~{::form})" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{loginHeader}">Title</title>
</head>
<body>

    <!-- Default form login -->
    <form class="text-center border border-light p-5" action="#" th:action="@{/login}" method="post">

        <p class="h4 mb-4" th:text="#{signIn}"></p>

        <!-- Email -->
        <input type="email" id="email"  name="email" class="form-control mb-4"
               th:placeholder="#{email}" required="true" autofocus="true">

        <!-- Password -->
        <input type="password" name="password" id="password" class="form-control mb-4"
               th:placeholder="#{password}" required="true">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="remember-me" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember" th:text="#{rememberMe}">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a th:href="@{/resetPassword}" th:text="#{forgotPassword}">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit" th:text="#{logIn}">Sign in</button>

        <!-- Register -->
        <p>
            <a th:text="#{registerSlogan}"></a>
            <a th:href="@{/register}" th:text="#{signUp}">Register</a>
        </p>
    </form>
    <!-- Default form login -->
</body>
</html>