<!DOCTYPE html>
<html lang="en" th:replace="layouts/main_layout :: layout (~{::title}, ~{::main})" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{resetPasswordHeader}">Title</title>
</head>
<body>
    <main>

        <form class="text-center border border-light p-5 needs-validation"
              action="#" th:action="@{/resetPassword}"  th:object="${mail}" method="post" novalidate>
            <h2 class="mb-3" th:text="#{resetPassword.main}">reset</h2>
            <div class="form-row md-form">
                <i class="fas fa-envelope prefix"></i>
                <label class="required" for="email" th:text="#{register.email}">Email</label>
                <input type="email" id="email"
                       class="form-control mb-4 " th:field="*{email}"
                       th:classappend="${not #lists.isEmpty(#fields.errors('email'))} ? is-invalid">
                <div class="invalid-feedback">
                    <p th:each="error: ${#fields.errors('email')}"
                       th:text="${error}">Invalid data</p>
                </div>
            </div>
            <button type="submit" class="btn btn-info btn-block my-4"
                    th:text="#{resetPassword.reset}">reset</button>
            <div class="row"></div>
            <p>
                <a th:href="@{/register}" th:text="#{register}">registration</a>
                <a th:text="#{or_}"></a>
                <a th:href="@{/login}" th:text="#{login}">login</a>
            </p>

        </form>

    </main>
</body>
</html>