<!DOCTYPE html>
<html lang="en" th:replace="layouts/main_layout :: layout (~{::title}, ~{::main})" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{resetPasswordHeader}">Title</title>
</head>
<body>
    <main>

        <h1 th:text="#{resetPassword.main}">reset</h1>

        <form class="text-center border border-light p-5 needs-validation"
              action="#" th:action="@{/resetPassword}" method="post" novalidate>
            <label th:text="#{resetPassword.email}">email</label>
            <input id="email" name="email" type="email" value="" />
            <button type="submit"
                    th:text="#{resetPassword.reset}">reset</button>
        </form>

        <a th:href="@{/register}" th:text="#{register}">registration</a>
        <a th:href="@{/login}" th:text="#{login}">login</a>
    </main>
</body>
</html>